@model CBIB.Views.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />

@foreach (var item in Model.dict)
{
    <div class="panel panel-primary">
        <div class="panel-heading">@Html.DisplayFor(modelItem => item.Key.Title)</div>
        <div class="panel-body">Panel Content</div>
    </div>
}

